:root {
    --focus: #2962FF;
    --error: #D32F2F;
    --error-border: 1px solid #D32F2F;
    --focus-border: 1px solid #2962FF;
    --hover-border: 1px solid #828282;
}

body {
    font-family: 'Tahoma', Arial, Helvetica, sans-serif;
}

header {
    color: #ffffff;
    text-shadow: -1px 0px 3px black;
}

footer {
    font-family: 'Segoe Print', cursive;
    font-size: 12px;
}

#root {
    font-size: 14px;
}

main {
    max-width: 500px;
    margin: auto;
}

.wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
 
.container {
    position: relative;
}

.component {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.inputs {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

input,
textarea {
    max-width: 200px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 12px;
    border-radius: 8px;
    border: 1px solid #828282;
    outline: none;
}

textarea:hover ~ label,
textarea:hover ~ small,
input:hover ~ small,
input:hover ~ label,
textarea + small,
input + small {
    color: #828282;
}

input:focus ~ small,
textarea:focus ~ small,
textarea:focus ~ label,
input:focus ~ label {
    color: var(--focus);
}

small {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

input:hover,
textarea:hover,
.error:hover {
    border: var(--hover-border);
}

textarea:focus,
input:focus {
    border: var(--focus-border);
}

.error:hover ~ label {
    color:#333333;
}

input:disabled {
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    cursor: not-allowed;
}

.error,
.error:focus,
.errorText,
.errorText:hover,
.errorText:focus {
    border: var(--error-border);
}

.errorText:focus ~ small,
.errorText:hover ~ small,
.errorText + small,
.error ~ label,
.error:focus ~ label,
.errorText ~ label,
.errorText:focus ~ label,
.errorText:hover ~ label
 {
    color: var(--error);
}

.startIcon {
    display: block;
    background-image: url('./icon/phone-icon.svg');
    background-position: 14px center;
    padding-left: 45px;
    background-size: 18px;
 } 

 .endIcon {
    background-image: url('./icon/lock-icon.svg');
    background-size: 25px;
    background-position: 95% center;
    padding-right: 35px;
}

.startIcon,
.endIcon {
    max-width: 169px;
    background-repeat: no-repeat;
}

.startIcon:focus {
    background-image: url('./icon/blue-phone.svg');   
}

.endIcon:focus {
    background-image: url('./icon/blue-lock.svg');   
}

.sm {
    padding-top: 9px;
    padding-bottom: 9px;
}

.md {
    padding-top: 18px;
    padding-bottom: 18px;
}

.fullWidth {
    max-width: 100%;
}


@media (min-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}